on boot
    setprop ro.radio.use-ppp no
    setprop ro.build.product GT-I5700
    setprop ro.product.device GT-I5700
    
    mount debugfs /sys/kernel/debug /sys/kernel/debug

on fs
    mkdir /devlog 0700 root root

service GT-I5700-setup /system/etc/init.GT-I5700.sh
    oneshot

